#sm2-container {
	bottom: 0px;
}

.sc_player_container1 {
	display: inline;
}

.sc_player_container1 .myButton_play {
	background: transparent url(../image/play-sound.png) no-repeat !important;
	cursor: pointer !important;
	height: 22px;
	width: 22px;
	border: none !important;
	position: relative;
	margin: 0 !important;
	padding: 0 !important;
}

.sc_player_container1 .myButton_stop {
	background: transparent url(../image/pause-sound.png) no-repeat !important;
	cursor: pointer !important;
	height: 22px;
	width: 22px;
	border: none !important;
	position: relative;
	margin: 0 !important;
	padding: 0 !important;
}

.sc_player_container2 {
	max-width:56em;
}

.sc_player_container2 .myButton_play {
	background:url(../image/stop-play.jpg) no-repeat;
	background-position: -30px -30px;
	cursor:pointer;
	width: 40px;
	height: 30px;
	border: none;
	position:relative;
}

.sc_player_container2 .myButton_stop {
	background:url(../image/stop-play.jpg) no-repeat;
	background-position: -31px -90px;
	cursor:pointer;
	width: 40px;
	height: 30px;
	border: none;
	position:relative;
}
